*{padding:0; margin:0; box-sizing: border-box;}
body{
    overflow-x:hidden;
}
h1{
    font-family: 'Great Vibes', cursive;
}
.carousel-item img{
    height:70%;
    width:100%
}
.card-body img{
    min-width: 50%;
    max-height: 200px;
}